<html>
    <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Painel do admin</title>
    
           <link href="/public/stylePainel.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/b04821f065.js" crossorigin="anonymous"></script>
        </head>

        <body>
           <div class="header-painel">
                <h2>Cadastro noticia</h2>
           </div>
           <form enctype="multipart/form-data" method="post" action="/admin/cadastro">

            <input type="text" name="titulo_noticia" placeholder="Título da noticia">
            <input type="text" name="autor" placeholder="Autor">
            <input type="text" name="categoria" placeholder="Categoria do texto">
            <input type="text" name="slug" placeholder="Slug">
            <span>Capa da noticia:</span> <input type="file" name="arquivo">
            <textarea name="noticia" placeholder=" Noticia..."></textarea>
            <input type="submit" name="acao" value="Cadastrar">

           </form>
         </br>
           <div class="header-painel">
               <h2>Listas de noticias</h2>
           </div>
           <% for(let i =0; i < posts.length; i++) { %>

            <div class="box-ultima-single">

              <div class="noticia-single">
                <p>Titulo: <%= posts[i].titulo %></p>
                <p>Autor: <%= posts[i].autor %></p>
                <a href="/admin/delete/<%= posts[i].id %>"><i class="fa-sharp fa-solid fa-trash"></i></a>
             </div>
                
            </div>

            <% } %>
        </body>
</html>